<!DOCTYPE html>
<html lang="zh-CN" ng-app="app">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Hello Angularjs!</title>
</head>
<body>
  <div>
    <h1>Angular简介</h1>
    <h2>快速使用</h2>
    <div>
      <p>显示输入内容：{{name}}</p>
      <input type="text" ng-model="name" placeholder="Hello World一小步，Angularjs一大步！" />
    </div>
    <div ng-controller="HelloWorld">
      <p>显示controller内容：{{data.name}}</p>
      <input type="text" ng-model="data.name" placeholder="Hello World一小步，Angularjs一大步！" />
    </div>
  </div>
  <!-- 
  http://www.runoob.com/angularjs/angularjs-intro.html
  eclipse: Quick Text Search!Cmd + Shift + L.
  ================================================== -->
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/angularjs/angular.min.js"></script>
  <script src="/example/asset/js/hello.js"></script>
</body>
</html>