<div>
  <h1 class="page-header">一级菜单</h1>
  <div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        width="200" height="200" class="img-responsive"
        alt="Generic placeholder thumbnail">
      <h4>
        <a href="https://progit.bootcss.com/" target="_blank">Git
          入门到专家指南</a>
      </h4>
      <span class="text-muted">Pro
        Git中文版（第二版）是一本详细的Git指南，主要介绍了Git的使用基础和原理，让你从Git初学者成为Git专家。</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        width="200" height="200" class="img-responsive"
        alt="Generic placeholder thumbnail">
      <h4>
        <a href="http://www.bootcss.com/p/flat-ui/"
          target="_blank">Metro 风格的 Bootstrap</a>
      </h4>
      <span class="text-muted">Flat UI
        是基于Bootstrap做的Metro化改造。Flat
        UI包含了很多Bootstrap提供的组件，但是外观更加漂亮。</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        width="200" height="200" class="img-responsive"
        alt="Generic placeholder thumbnail">
      <h4>
        <a href="http://www.runoob.com/" target="_blank">菜鸟教程</a>
      </h4>
      <span class="text-muted">大量入门级的菜鸟教程，包括前端、服务端入门级教程。</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder">
      <img
        src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
        width="200" height="200" class="img-responsive"
        alt="Generic placeholder thumbnail">
      <h4>
        <a href="http://www.bootcss.com/" target="_blank">更多关于Bootstrap框架</a>
      </h4>
      <span class="text-muted">简洁、直观、强悍的前端开发框架，让web开发更迅速、简单。</span>
    </div>
  </div>
</div>