<!DOCTYPE html>
<html lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
<title th:text="${title}">Markdown</title>
<!-- Bootstrap -->
<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link th:href="@{/assets/css/ie10-viewport-bug-workaround.css}"
  rel="stylesheet" />
<!-- Custom styles for this template -->
<link th:href="@{/assets/css/dashboard.css}" rel="stylesheet" />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script th:src="@{/assets/lib/html5shiv/3.7.3/html5shiv.min.js}"></script>
      <script th:src="@{/assets/lib/respond.js/1.4.2/respond.min.js}"></script>
    <![endif]-->
</head>
<body ng-app="app">
  <nav-view></nav-view>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <left-menu></left-menu>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <ng-view></ng-view>
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script th:src="@{/webjars/angularjs/angular.min.js}"></script>
  <script th:src="@{/webjars/angularjs/angular-route.min.js}"></script>
  <script th:src="@{/assets/index/index.js}"></script>
</body>
</html>