<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Markdown</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/assets/css/github-markdown.css">
  <link rel="stylesheet" href="/assets/css/prism.css" />
  <link rel="stylesheet" href="/assets/markdown/css/my.css" />
</head>
<body ng-app="app" ng-init="file='${request.requestURI}'">
  <div class="container" ng-controller="appController">
    <render src="http.url">页面加载中</render>
  </div>
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/angularjs/angular.min.js"></script>
  <script src="/assets/markdown/js/markdown.js"></script>
  <script src="/assets/lib/prism.js" data-manual></script>
</body>
</html>