<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Markdown</title>
  <link rel="stylesheet" href="${request.contextPath}/webjars/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="${request.contextPath}/assets/css/github-markdown.css">
  <link rel="stylesheet" href="${request.contextPath}/assets/css/prism.css" />
  <link rel="stylesheet" href="${request.contextPath}/assets/markdown/css/my.css" />
</head>
<body ng-app="app" ng-init="init={file:'${request.servletPath}',contextPath:'${request.contextPath}'}">
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="dashboard_catalog"></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" ng-controller="appController">
    <render src="http.url" contextPath="${request.contextPath}">页面加载中</render>
  </div>
  <script src="${request.contextPath}/webjars/jquery/jquery.min.js"></script>
  <script src="${request.contextPath}/webjars/angularjs/angular.min.js"></script>
  <script src="${request.contextPath}/assets/markdown/js/markdown.js"></script>
  <script src="${request.contextPath}/assets/lib/prism.js" data-manual></script>
</body>
</html>